html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

body.scanning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZTFlMWUxIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMzAiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE0LjI0IDEyLjAxbDIuMzIgMi4zMmMuMjgtLjcyLjQ0LTEuNTEuNDQtMi4zMyAwLS44Mi0uMTYtMS41OS0uNDMtMi4zMWwtMi4zMyAyLjMyem01LjI5LTUuM2wtMS4yNiAxLjI2Yy42MyAxLjIxLjk4IDIuNTcuOTggNC4wMnMtLjM2IDIuODItLjk4IDQuMDJsMS4yIDEuMmMuOTctMS41NCAxLjU0LTMuMzYgMS41NC01LjMxLS4wMS0xLjg5LS41NS0zLjY3LTEuNDgtNS4xOXptLTMuODIgMUwxMCAySDl2Ny41OUw0LjQxIDUgMyA2LjQxIDguNTkgMTIgMyAxNy41OSA0LjQxIDE5IDkgMTQuNDFWMjJoMWw1LjcxLTUuNzEtNC4zLTQuMjkgNC4zLTQuMjl6TTExIDUuODNsMS44OCAxLjg4TDExIDkuNTlWNS44M3ptMS44OCAxMC40NkwxMSAxOC4xN3YtMy43NmwxLjg4IDEuODh6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
}

#results {
  width: 768px;
  max-width: 100%;
  position: absolute;
  top: 0; right: 0; left: 0;
  margin: auto;
  margin-top: 10px;
}

#results p {
  color: #000;
  padding: 0 20px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 0;
}

#results p:last-child {
  margin-bottom: 100px;
}

#results a {
  color: green;
  display: block;
  margin: 0.2em 0;
}

button {
  cursor: pointer;
  text-align: left;
  padding: 10px 20px 0 20px;
  color: rgb(26, 13, 171);
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  margin-bottom: 0;
  border-style: solid;
  border-width: 0;
  -webkit-appearance: none;
  display: block;
  width: 100%;
}

#status {
  padding: 1.5em 1em;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #870052;
  position: fixed;
  right: 0; bottom: 0; left: 0;
  margin: auto;
  height: auto;
  z-index: 99;
}

.key {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  box-shadow: 1px 1px #660033;
  width: 30px;
  display: inline-block;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  animation-fill-mode: both;
  animation-duration: 0.4s;
  animation-name: fadeInDown;
}