html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

#results {
  width: 768px;
  max-width: 100%;
  position: absolute;
  top: 0; right: 0; left: 0;
  margin: auto;
  margin-top: 10px;
}

#results p {
  color: #000;
  padding: 0 20px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 0;
}

#results p:last-child {
  margin-bottom: 100px;
}

#results a {
  color: green;
  display: block;
  margin: 0.2em 0;
}

button {
  cursor: pointer;
  text-align: left;
  padding: 10px 20px 0 20px;
  color: rgb(26, 13, 171);
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  margin-bottom: 0;
  border-style: solid;
  border-width: 0;
  -webkit-appearance: none;
  display: block;
  width: 100%;
}

#status {
  padding: 1.5em 1em;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #870052;
  position: fixed;
  right: 0; bottom: 0; left: 0;
  margin: auto;
  height: auto;
  z-index: 99;
}

.key {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  box-shadow: 1px 1px #660033;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

button {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}